{% extends 'blog/base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<img class="card-img-top" src="https:/placehold.it/500x400" alt="Card image cap">
			</div>

			<div class="col-lg-6">
				<h2 class="display-4">{{ post.title }}</h2>
			    <p class="lead">Precio: <strong>${{ post.price }}</strong></p>
			    <p class="lead">Referencia: <strong>{{ post.ref }}</strong></p>
			    <a class="btn btn-success" href="{% url 'post_edit' pk=post.pk %}"><i class="fa fa-pencil"></i> Editar</a>
			    <a class="btn btn-danger" href="{% url 'post_delete' pk=post.pk %}"><i class="fa fa-trash"></i> Borrar</a>
			    <a href="/" class="btn btn-primary">Volver</a>
			</div>
		</div>
	</div>
{% endblock %}